@media only screen and (min-width:64rem){


    /*...NAVIGATION...*/

    header{
        display: grid;
        grid-template-areas: "brand nav" ;
    }
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}

    .brand {
        display: inline-block;
        grid-area: brand;
    }

    nav{
        grid-area: nav;
        
    }

 
    /*....END.....*/



    .info{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(5, 1fr);
        
        
    }

    .about{
       grid-column: 1/6;
       grid-row: 1/3;
    }
    .vl{
        grid-column: 10/13;
        grid-row: 1/4;
        border-left: 3px solid rgb(0, 0, 0);
        text-align: center;
    }

    .hl{
        grid-column: 10/13;
        grid-row: 1/3;
        border-top: 3px solid rgb(0, 0, 0);
        text-align: center;
    }
    .sl{
        grid-column: 1/10;
        grid-row: 4/6;
        border-top: 3px solid rgb(0, 0, 0);
        text-align: center;
    }

    .wl{
        grid-column: 7/8;
        grid-row: 4/6;
        border-left: 3px solid rgb(0, 0, 0);
        text-align: center;
    }
    .services{
        grid-row: 4/6;
        grid-column: 8/13;
    }

    .special{
        grid-column: 4/10;
        grid-row: 6/7;
    }

















/*.........Culture styling......*/
    #joinemail input{
        min-inline-size: 400px;
    }

/*********END***************/



    .socialicon img{
        width: 2%;
    }















}



