*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
    --headingfont--: "Roboto", sans-serif;
    --bodyfont--: "Raleway", sans-serif;
    --backgroundcolor: #f0f0f0;
    --headingcolor--: #0a4b61;;
    --primarycolor--: #ADD8E6;
    --secondarycolor: #4caf50;
}



header{
    border-bottom: 1px solid rgb(216, 213, 213);
    margin-bottom: 1px;
    text-align: center;
    font-family: var(--headingfont--);
}

.brand{color:var(--headingcolor--);}

header img{width: 4%;
    height: auto;}
#logo{
    display: inline-block;
}

.navigation{
    list-style-type: none;
}
.active{
    border-bottom: 2px solid black;
}

#menu {
	
	font-size: 2rem;
	font-weight: 400;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	color: var(--headingcolor--);
    
}

#menu::before {
	content: "≡";
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    
}

.navigation a:hover,
.navigation a:active {
	color: white;
	background-color: black;
    border-color: white;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "✖";
}
#menu.show{
    font-size: 1.5rem;
	font-weight: 500;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
}

/*...................END OF NAVIGATION.....................*/

.hero img{
    width: 100%;
    height: auto;
}

h2, h3,h4,h1{
    font-family: var(--headingfont--);
}

p{
    font-family: var(--bodyfont--);
}




.info h2{
    text-align: center;
}
.info li{
    font-family: var(--bodyfont--);
}
/*.......SECTION......*/
.info{
    margin-top: 2rem;
    padding: 0 2rem 0 2rem;
}


/*..........END.........*/

/*.........Culture styling......*/
.culture{
    text-align: center;
    margin-top: 2rem;
}
.culture p{
    margin-top: 1rem;
}
.culture form{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.culture input{
    padding: 0.7rem;
}
#joinemail{
    border: 1px solid black;
    border-left: none;
    padding: 4px;
    border-right: none;
}
#joinsub{
    border: 1px solid black;
    border-right: none;
    padding: 4px;
}
#joinsub input{
    background-color: #000;
    color: white;
    border-radius: 4px; 
}
#joinsub input:hover{
    background: white;
    color:black;
    animation: mymove 3s infinite;
    cursor: pointer;
}
@keyframes mymove {
    from {background-color: black;}
    to {background-color:white;}
    from{color:white;}
    to{color:black;}
  }
/*********END**************/

/*.......FOOTER............*/
footer{
    margin-top: 2rem;
} 
.semifooter{
    background-color:var(--primarycolor--);
    padding-top:3rem;
    padding-bottom: 2rem;
}
.socialicon{
    text-align: center;
}
.socialicon img{
    width: 5%;
}
.footlink{
    text-align: center;
    margin-top: 1rem;
}
.footlink a{
    text-decoration: none;
    color: black;
    font-family: var(--bodyfont--);
    font-weight: 600;
    padding: 0 1rem 0 1rem;
}
#blog, #catering{
    border-left: 2px solid black;
}
#catering{
    border-right: 2px solid black;
}


.quote{
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*.............END.........*/

/*............EXPLORE.......*/
#exploreheading{
    text-align: center;
    color: #0a4b61;
    margin-top: 4rem;
}

/*******foreign*********/


.explore h4{

    color:var(--headingcolor--);
    text-decoration: underline;
    padding: 0.5rem;
}

.foreign img{

    width: 250px;
    height: 300px;

}



/*.........EXPLORE........*/
