@media screen and (min-width: 700px){
    main {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: (12,1fr);
    }
    main h1{
        grid-column: 1/13;
    }
    
    form{
        grid-column: 1/6;
    }
    
    aside{
        grid-column: 7/13;
    }
    }