@media screen and (min-width: 700px){
    main {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: (12,1fr);
    }
    main h1{
        grid-column: 1/13;
    }
    
    form{
        grid-column: 1/6;
    }
    
    aside{
        grid-column: 7/13;
        text-align: center;
    }

    form input{

        width: 70%;
    }
    textarea{
        width: 70%;
    }



    #Membership div{
        
        height: 21%;
        background-color: rgba(169, 184, 184, 0.336);
        padding: auto;
        margin-bottom: 0.5em;
        border-bottom-right-radius:50px ;
        border-top-left-radius:50px ;
     }
    }