*{
    margin: 0;
}
:root{
    --headingfont--:"Roboto", serif;
    --normalfont--:"Raleway", serif;
}

nav{
    background-color: black;
}

ul li{
    padding: 1em;
}


header{
    text-align: center;
}
header img{
    width: 5%;
    height: 5%;
}
#heading{
    font-family: var(--headingfont--);
    font-size: xx-large;
    font-weight: bold;
}


.navigation{
    list-style: none;
}

.navigation a:hover, .active{
    color: wheat;
}

a{
    text-decoration: none;
    color: white;
    font-family: var(--headingfont--);
    font-weight: bold;
}

.content{
    margin: 1rem;
}

section{
    margin-top: 1rem;
}
section h2{
    font-family: var(--headingfont--);
    text-align: center;
    color: white;
    background-color: black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding:1rem ;
}

.locationimg{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.cert{
    text-align: center;
}
.cert ul{
    display: flex;
    text-align: center;
    border-bottom: 1px solid black;
}
.cert ul li{
    list-style: none;
    
}

.cert ul li a{
    color:white;
    font-family: var(--headingfont--);
    background-color: black;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}



.Certificate .display{
    font-family:var(--normalfont--);
    font-weight: bold;
    border-radius: 4px;
}


.btn {
    color:white;
    font-family: var(--headingfont--);
    background-color: black;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.btn:hover{
    text-decoration: underline;
    border-color: wheat;
}

h4{
    font-family: var(--headingfont--);
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
footer p{
    font-family: var(--normalfont--);
    margin-top: 1rem;
}