*{
    margin: 0;
}
:root{
    --headingfont--:"Roboto", serif;
    --normalfont--:"Raleway", serif;
}

nav{
    background-color: black;
}

ul li{
    padding: 1em;
}


header{
    text-align: center;
}
#heading{
    font-family: var(--headingfont--);
    font-size: xx-large;
    font-weight: bold;
}


.navigation{
    list-style: none;
}

.navigation a:hover, .active{
    color: wheat;
}

a{
    text-decoration: none;
    color: white;
    font-family: var(--headingfont--);
    font-weight: bold;
}

.content{
    margin: 1rem;
}

section{
    margin-top: 1rem;
}
section h2{
    text-align: center;
    color: white;
    background-color: black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding:1rem ;
}



