nav{
    background-color: black;
}


ul{
    display: flex;
    justify-content: space-around;
}

ul li{
    padding: 1em;
}



.content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.home{
    grid-column: 1/6;
   
    
}

.course{
    grid-column: 1/8;
    border: 1px black;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.course ul{
    display: block;
    
}

.location{
    grid-column: 9/13;
    border: 1px black;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}