nav{
    background-color: black;
}


ul{
    display: flex;
    justify-content: space-around;
}

ul li{
    padding: 1em;
}



.content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.home{
    grid-column: 1/6;
}

.course{
    grid-column: 1/4;
}
.course ul{
    display: block;
}