@media screen and (max-width: 640px){
    #menu{
        display: block;
        color:blueviolet;
        background-color: #eee;
    }

    #menu::before
    {
        content: "☰";
    }


    .navigation{
        display: block  ;
    }
    .navigation li{
        display: none;
    }
    .navigation a{
        display: block;
    }

    
    .show li{
        display: block;
    }

    #menu.show::before{
        content: "X";
    }

}